# Appliquer les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne garder que les colonnes correspondantes

In [13]:
import pandas as pd 
df=pd.read_csv("BF.txt",sep = '\t', header = None) 
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2282318,Pouéné,Pouene,NaN,9.72908,-2.78660,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,226,Africa/Abidjan,2023-11-07
1,2285251,Léraba Occidentale,Leraba Occidentale,"Badini,La Leraba Occidentale,Leraba,Leraba Occ...",10.28333,-5.11667,H,STM,BF,CI,00,NaN,NaN,NaN,0,NaN,283,Africa/Abidjan,2023-11-07
2,2287216,Kéléouoro,Keleouoro,"Keleouoro,Keleworo,Kéléouoro,Kéléworo",9.80748,-4.05023,H,STM,BF,"BF,CI",00,NaN,NaN,NaN,0,NaN,261,Africa/Abidjan,2023-11-07
3,2294066,White Volta,White Volta,"Nakambe,Nakambé,Nakanbe,Nakanbé,Volta Blanche,...",8.70194,-0.99056,H,STM,BF,GH,00,NaN,NaN,NaN,0,NaN,75,Africa/Accra,2023-11-08
4,2298457,Issana Bouga,Issana Bouga,"Issana Bouga,Lanyung,Lanyunga",10.91667,-1.18333,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,178,Africa/Accra,2023-11-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11708,12688712,Kanliyinou,Kanliyinou,NaN,12.15503,0.59881,P,PPL,BF,NaN,08,50.0,NaN,NaN,0,NaN,284,Africa/Ouagadougou,2023-12-25
11709,12688713,Tinonguen-Peulh,Tinonguen-Peulh,NaN,11.64924,-0.22063,P,PPL,BF,NaN,04,49.0,NaN,NaN,0,NaN,220,Africa/Ouagadougou,2023-12-25
11710,12689306,Wolidouo,Wolidouo,NaN,9.73471,-3.07244,P,PPL,BF,NaN,13,67.0,NaN,NaN,361,NaN,296,Africa/Abidjan,2024-01-05
11711,12720016,Yimdi,Yimdi,NaN,12.31014,-1.66322,P,PPL,BF,NaN,03,53.0,NaN,NaN,0,NaN,315,Africa/Ouagadougou,2024-02-07
11712,12746364,Dabogo,Dabogo,NaN,11.49058,0.12698,P,PPL,BF,NaN,04,59.0,NaN,NaN,0,NaN,305,Africa/Ouagadougou,2024-02-14

In [14]:
#Identifiants, Noms de lieux, latitudes, longitudes
filtre_BF=df.iloc[:,[0,1,4,5]]
filtre_BF

              0                   1         4        5
0       2282318              Pouéné   9.72908 -2.78660
1       2285251  Léraba Occidentale  10.28333 -5.11667
2       2287216           Kéléouoro   9.80748 -4.05023
3       2294066         White Volta   8.70194 -0.99056
4       2298457        Issana Bouga  10.91667 -1.18333
...         ...                 ...       ...      ...
11708  12688712          Kanliyinou  12.15503  0.59881
11709  12688713     Tinonguen-Peulh  11.64924 -0.22063
11710  12689306            Wolidouo   9.73471 -3.07244
11711  12720016               Yimdi  12.31014 -1.66322
11712  12746364              Dabogo  11.49058  0.12698

[11713 rows x 4 columns]

In [15]:
#Renommez les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'
nouveau_noms= {0: 'ID', 1: 'location_name',4:'lat',5:'long'}
filtre_BF.rename(columns=nouveau_noms, inplace=True)
filtre_BF

C:\Users\PATRICK BITCHIBALI\AppData\Local\Temp\ipykernel_36388\1903289204.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtre_BF.rename(columns=nouveau_noms, inplace=True)

             ID       location_name       lat     long
0       2282318              Pouéné   9.72908 -2.78660
1       2285251  Léraba Occidentale  10.28333 -5.11667
2       2287216           Kéléouoro   9.80748 -4.05023
3       2294066         White Volta   8.70194 -0.99056
4       2298457        Issana Bouga  10.91667 -1.18333
...         ...                 ...       ...      ...
11708  12688712          Kanliyinou  12.15503  0.59881
11709  12688713     Tinonguen-Peulh  11.64924 -0.22063
11710  12689306            Wolidouo   9.73471 -3.07244
11711  12720016               Yimdi  12.31014 -1.66322
11712  12746364              Dabogo  11.49058  0.12698

[11713 rows x 4 columns]

In [16]:
#Sauvegarder ces données dans un fichier CSV, nommez-le burkina_location.csv
filtre_BF.to_csv('burkina_location.csv', index=False)

# Opérations sur le fichier CSV burkina_location.csv

In [17]:
#extraire les données contenant le nom 'gounghin', enregistrez-le sous le fichier gounghin.csv
df1=pd.read_csv("burkina_location.csv") 
dgounghin=df1.loc[df1['location_name']=='Gounghin']
dgounghin.to_csv('gounghin.csv', index=False)

In [6]:
#extraire la sous-partie de la base de données (fichier burkina_location.csv), dont les noms les premières lettres des noms de lieux sont compris entre 'A' et 'P' (ordre alphabétique)
sous_df1 = df1[df1['location_name'].str[0].between('A', 'P')]
sous_df1= sous_df1.sort_values(by='location_name')
sous_df1

             ID location_name       lat     long
10647   6913771        Abanda  15.06808 -0.59805
10032   2363251        Abanga  13.32429  0.31151
11092  11980339        Abassi  12.27728 -1.13662
10600   6874881         Abaye  13.44080 -3.90190
10030   2363249          Abra  13.09140 -1.34752
...         ...           ...       ...      ...
10110   2570015       Pézinga  12.05298 -1.47002
3479    2356655            Pê  11.30000 -3.53333
3280    2356454            Pô  11.16972 -1.14500
3279    2356453            Pô  12.30000 -2.61667
10393   6296406    Pô Airport  11.17854 -1.14498

[8131 rows x 4 columns]

In [18]:
#Identifiez respectivement, la latitude, la longitude minimale et les noms de lieux correspondants

# Identifier la ligne avec la latitude minimale
ligne_latitude_min = sous_df1['lat'].idxmin()

# Identifier la latitude minimale
latitude_min = sous_df1.loc[ligne_latitude_min, 'lat']

# Identifier la longitude minimale correspondante
longitude_min_correspondante = sous_df1.loc[ligne_latitude_min, 'long']

# Identifier le nom de lieu correspondant à la latitude minimale
nom_lieu_latitude_min = sous_df1.loc[ligne_latitude_min, 'location_name']

# les résultats
print("Latitude minimale:", latitude_min)
print("Longitude minimale correspondante:", longitude_min_correspondante)
print("Nom de lieu correspondant à la latitude minimale:", nom_lieu_latitude_min)

Latitude minimale: 5.21609
Longitude minimale correspondante: -3.71793
Nom de lieu correspondant à la latitude minimale: Komoé

In [8]:
#Quels sont les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)

# Filtrer les lieux selon les critères 
lieux_filtres = sous_df1[(sous_df1['lat'] >= 11) & (sous_df1['long'] <= 0.5)]
lieux_filtres

             ID location_name       lat     long
10647   6913771        Abanda  15.06808 -0.59805
10032   2363251        Abanga  13.32429  0.31151
11092  11980339        Abassi  12.27728 -1.13662
10600   6874881         Abaye  13.44080 -3.90190
10030   2363249          Abra  13.09140 -1.34752
...         ...           ...       ...      ...
10110   2570015       Pézinga  12.05298 -1.47002
3479    2356655            Pê  11.30000 -3.53333
3280    2356454            Pô  11.16972 -1.14500
3279    2356453            Pô  12.30000 -2.61667
10393   6296406    Pô Airport  11.17854 -1.14498

[6324 rows x 4 columns]

# Sorties Excel

In [9]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\patrick bitchibali\anaconda3\lib\site-packages (3.1.9)
Note: you may need to restart the kernel to use updated packages.

In [19]:
#Créer un fichier Excel et nommer le : mini_projet
#Créer une feuille dans ce fichier, du nom gounghin et enregistrer les données contenant le nom 'gounghin' obtenues dans 4.1
#Créer une second feuille dans ce même fichier, du nom A_to_P et enregistrer les données de 4.2

with pd.ExcelWriter('mini_projet.xlsx', engine='xlsxwriter') as writer:
    dgounghin.to_excel(writer, sheet_name='gounghin', index=False)
    sous_df1.to_excel(writer, sheet_name='A_to_P', index=False)

# lien github: https://github.com/ladjoun/mini_projet_data_analysis